{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diabetes Diet</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{%static 'css/webcss.css'%}">


</head>
<body>
<div class="header" id="topheader">
    <nav class="navbar navbar-expand-lg">
        <div class="container text-uppercase p-2">
  <a class="navbar-brand" href="/index">Herald Diabetes Detection</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
        <a class="nav-link" href="/symptom">Diabetes and Symptoms <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/Diet">Diabetes Diet <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/checkdiabetes">Diabetes Tester</a>
      </li>
    </ul>
  </div>
        </div>
</nav>
</div>
<section
<section class="frame">
    <div class="container">
        <h1>Diabetes Diet & Physical Activity</h1>
        <div class="content-box">
            <p><b>WE MUST KNOW</b></p>
            <ul class="content-list">
                <li>What are the foods and drink can I have if I have diabetes?</li>
                <li>Which foods should I avoid or limit if I have diabetes?</li>
                <li>List of physical activities i must include if I have diabetes</li>
            </ul>
            <strong><h2>Eat to thrive</h2></strong>
            <div class="image-holder">
                    <img src="https://images.pexels.com/photos/264537/pexels-photo-264537.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                </div>
            <div class="content-text">
                <p> Nutrition and physical activity are important parts of a healthy lifestyle when you have diabetes. Along with other benefits, following a healthy meal plan and being active can help you keep your blood glucose level, also called blood sugar, in your target range. To manage your blood glucose, you need to balance what you eat and drink with physical activity and diabetes medicine, if you take any. What you choose to eat, how much you eat, and when you eat are all important in keeping your blood glucose level in the range that your health care team recommends. To manage your blood glucose, you need to balance what you eat and drink with physical activity and diabetes medicine, if you take any. What you choose to eat, how much you eat, and when you eat are all important in keeping your blood glucose level in the range that your health care team recommends. </p>
                 <p>Becoming more active and making changes in what you eat and drink can seem challenging at first. You may find it easier to start with small changes and get help from your family, friends, and health care team.</p>
                <p>Eating hygienic foods and doing physically actives in good amount can help you</p>
                <ul class="content-list">
                    <li>keep your BP, glucose level and cholesterol in health rate</li>
                    <li>maintains your weight according to your age and height</li>
                    <li>controls and avoid high diabetes risk</li>
                    <li>keep your mental health sound and feels good</li>
                    <li>provide energy for whole day</li>
                </ul>
                <h2>Foods to eat if you have diabetes.</h2>
                <p> Don't be sad. You must be thinking that you cannot have your best preferred meal now. We have some goods news for you. Even if you have diabetes, you can still pick your best food to eat but in controlled manner. Eating small portions won't harm much, if you burn what you eat. But also, if you have excessively high blood sugar level then keep foods away from you for few time would not affect much. Consulting with your doctors and staying updated will work. We have listed some of the best and healthy vegitables and foods, you can eat without any worries. </p>

                <p> If you are foody and donot want to stop eating, eating varieties of foods from all groups of foods in equal amount will be your best fit diet.</p>
                <ul class="content-list">
                    <li><strong>Vegitables</strong>
                        <ul class="sub-content-list">
                            <li>Nonstarchy Foods: broccoli, carrots, greens, peppers, and tomatoes</li>
                            <li>Starchy Foods: potatoes, corn, and green peas</li>
                        </ul>
                    </li>
                    <li><b>Fruits</b> — oranges, melon, berries, apples, bananas, and grapes</li>
                    <li><strong>Protein Rich Foods:</strong>
                        <ul class="sub-content-list">
                            <li>White meat like: Chicken or turkey without the skin</li>
                            <li>Fish</li>
                            <li>Dairy Products:Milk, yoghurt, cheese</li>

                            <li>Nuts</li>
                        </ul>
                    </li>
                    <li><strong>Grains</strong>
                        <ul class="sub-content-list">
                            <li>Oats</li>
                            <li>cornmeal</li>
                            <li>barley</li>
                        </ul>
                    </li>

                </ul>
                <p> <strong>Eating unhealthy fats must be avoided. Unhealthy fats are bad for heart that's why we should include healthy fats in our diet. </strong>  </p>
                <ul class="content-list">
                    <li><strong>Healthy Fats:</strong>
                        <ul class="sub-content-list">
                            <li>Unsaturated fats: fats that stays in the form of liquid in room temperature such as oliv oil</li>
                            <li>Fruits like: Avacado</li>
                            <li>Salmon, tuna
                        </ul>
                    </li>
                </ul>
                <div class="image-holder">
                    <img src="https://images.squarespace-cdn.com/content/v1/5893263bbe6594fa6e0df74a/1580216658941-M7GWKF4U766PV2XIDOZB/ke17ZwdGBToddI8pDm48kDvIO3r_6WWmLhV15rNd2fRZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVH0moX_2pVRSQJz49ubibKpa5DuSe_0NlmWy9w89H2Qkek-6xuMAojoFgTHCKHzke4/dreamstimeextrasmall_144858075.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="frame">
    <div class="container">
        <h1>Take action against diabetes</h1>
        <div class="content-box">
            <div class="content-text">
                <p> Physical activities might make you tired from outside but it will make you stronger from inside. Do you have habit of drinking water?? If you don't have, its time to drink planty of water. Drinking water will make your body temperature in normal range and throw out the unnecessary substances from your body</p>
                <strong><h2>Keep Yourself Moving</h2></strong>
                <div class="image-holder">
                    <img src="https://www.homecareassistancecolumbus.com/wp-content/uploads/2019/01/Active-Senior-Couple-Jogging.jpg" alt="">
                </div>

                <h1>Healthy Living Tips</h1>
                <h3>Care your feet</h3>
                <p> Diabetes patirent will have issues of poor blood flow and nerve damage because of which problem in feet can occure. If not cared it can result in high blood gloucise level. In order to take safe from feet problems, good pair of shoes can be added. legs exercise much be done daily. </p>

                <h3> Plan ahead than diabetes  </h3>
                <p> Talking with the doctors and always staying update regarding the blood sugar level. And planning the physical work accordingly. Doing physical activities are good for health but if we do in excessive number, we can have a problem of low blood glucose level. That's why we much care and  try to be active safely.</p>

                <ul class="content-list">
                    <li><strong>Physical activities that can be done daily:</strong>
                        <ul class="sub-content-list">
                            <li>Moving while doing nothing: while taking in phone, watching TV</li>
                            <li>Includes chores like gardning, cleaning house</li>
                            <li>Using stairs rather than going on elevator</li>
                            <li>Stretching</li>
                            <li>Adding aerobic activites: dancing, playing outdoor games, swimming</li>
                        </ul>
                    </li>
                </ul>
                <div class="image-holder">
                    <img src="https://studentdiet.pierre-legeay.com/wp-content/uploads/2019/11/8Yk9kqTURBXy85NTkwZTdmNTYzMmQ5YzRmNjg5NGQ4ODAyYzZmYzhiNC5qcGVnkpUDQgDNA3nNAfSTBc0BkMz6gaEwAQ.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>



<footer class="footersection" id="footerdiv">

  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6 col-12 footer-div">
        <div>
          <h3>ABOUT SHREE AI-WEB </h3>
          <p> Namaste. Welcome to Shree AI-Web's Diabetes Prediction Web Application. We build all kinds of web application having AI in it. We build normal recommendation system to complex AI model which can predict the required things. Fee free to contact us at anytime. </p>
        </div>
      </div>

        <div class="col-lg-4 col-md-6 col-12 footer-div text-center">
        <div>
          <h3>NAVIGATION LINKS </h3>
          <li> <a href="/symptom">DIABETES AND SYMPTOM</a> </li>
            <li> <a href="/Diet">DIABETES DIET</a></li>
              <li> <a href="/checkdiabetes">DIABETES TESTER</a></li>
        </div>
      </div>

        <div class="col-lg-4 col-md-12 col-12 footer-div">
        <div>
          <h3> HERALD DIABETES DETECTION </h3>
          <p> Diabetes is the serious issue through out the world. Due this reason, we have build a web-app which has AI integrated system. This web-app will be helpful to everyone who wants to know the things related too diabetes and check their dibetes status for free of cost. To check the diabetes, user just have to provide the required report to fit in the model for detection. ALL THE BEST.  </p>
        </div>
      </div>
        </div>
      <div class="mt-5 text-center">
        <p>Copyright ©2020 All rights reserved to Shree AI-Web Application</p>
      </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>