{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/webcss.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

</head>
<body>

<div class="header" id="topheader">

    <nav class="navbar navbar-expand-lg">
        <div class="container text-uppercase p-2">
  <a class="navbar-brand" href="/index">Herald Diabetes Detection</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
        <a class="nav-link" href="/symptom">Diabetes and Symptoms <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/Diet">Diabetes Diet <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/checkdiabetes">Diabetes Tester</a>
      </li>
    </ul>
  </div>
        </div>
</nav>
</div>
<section class="frame">
    <div class="container">
        <h1>Let's Know About Diabetes</h1><p>The more you know, the better you will feel.</p>
        <h2>What is Diabetes?</h2>
        <p>If you have high glucose, also known as blood sugar then you have higher chances of suffering from diabetes. To provide energy to our body, blood gluscose plays a vital role and to produce a blood glucose inside our body, we need to eat right amount of food. To transfer the glucose, which is obtained form the foods, into the cell of our body, we need a help from a hormone named as Insulin which is prodcuced by pancreas. Your body often does not produce enough – or any – insulin, or use insulin properly. Glucose will then linger in the body, which will not enter the cells. </p>
        <p>Getting too much glucose in your blood can cause health problems over time. While there is no treatment for diabetes you should take action to treat your diabetes and stay healthy.Often people consider diabetes "a touch of sugar" or "borderline diabetes." These words indicate everybody has no diabetes or a less serious disease, but any diabetes disease is serious.</p>
        <div class="image-holder">
                    <img src="https://thedolcediet.com/wp-content/uploads/2018/01/cholesterol.jpg" alt="">
                </div>
        <div class="content-box">
            <p><b>Different types of Diabetes</b></p>
                      <ul class="content-list">
                    <li><strong>Type 1 diabetes</strong>
                        <ul class="sub-content-list">
                            <p>If you have type 1 diabetes, insulin is not made in your body. Your immune system targets and kills the insulin-forming cells inside the pancreas. Type 1 diabetes in children and young adults is usually treated, but it can occur at any age. People with type 1 diabetes are expected to take insulin everyday to remain alive. In most patients with type 1 diabetes, the body's immune system, which normally battles bacteria, strikes and kills the cells in the insulin-forming pancreas. Your pancreas stops releasing insulin as a result. Glucose can't get into your cells without insulin, so your blood glucose increases above average. People with type 1 diabetes have to take insulin to stay alive every day ..</p>
                            <p><strong>Who have high chance to suffer from type 1 diabetes?</strong></p>
                            <p>Type 1 diabetes usually occurs in kids and young adults, but at any age it can appear. Knowing a parent or sibling with the condition will make you more likely to have type 1 diabetes. Around 5 per cent of patients with diabetes in the United States have type 1.</p>
                            <p><strong>Sysptoms of diabetes</strong></p>
                            <p>Type 1 diabetes symptoms are severe and usually occur quickly, within a few days to weeks. Might contain signs</p>
                            <ul class="content-list">
                              <li> Increase in thrust</li>
                               <li>Increase in urinitation </li>
                                <li> Increase in hunger </li>
                                 <li> Early fatigue </li>
                                  <li> Lose of weight </li>
                             </ul>
                            <p><strong>What are the cause of type 1 diabetes?</strong></p>
                            <p>Experts agree that type 1 diabetes is triggered by the genes and external causes that may activate the condition, such as viruses. Researchers are working through studies such as TrialNet External Link, to identify the causes of type 1 diabetes.</p>
                            <p><strong>What medicinal products do I need to treat my type 1 diabetes?</strong></p>
                        <p>You will take insulin because you have type 1 diabetes, since the body no longer produces this hormone. Specific forms of insulin tend to operate at varying levels, and each each has a specific period of time for the results. You may need to be using more than one form. You can take a number of forms of insulin. A needle and a syringe, an insulin pen or an insulin pump are popular alternatives.</p>
                       <div class="image-holder">
                    <img src="https://insulinnation.com/wp-content/uploads/2016/08/Insulin_Nation_Type_1_Early_Screening_DKA_945px.jpg" alt="">
                </div>
                </ul>
                    </li>

                    <li><strong>Type 2 diabetes</strong>
                        <ul class="sub-content-list">
                            <p>The most prevalent form of diabetes, form 2 diabetes, is a condition that happens when the blood glucose, commonly known as blood sugar, is too high. Blood glucose is the primary energy stream, so it comes mostly from the food you consume. Insulin, a pancreatic-made protein, lets glucose migrate into the cells for energy usage. Your body doesn't produce sufficiently insulin in type 2 diabetes or using insulins</p>
                            <p><strong>Who have high chance to suffer from type 2 diabetes?</strong></p>
                            <p>Type 2 diabetes can grow at any age, including during childhood. Type 2 diabetes, though, happens more commonly in the elderly and middle ages. If you're 45 or older, have a family history of diabetes, or are overweight or obese, you are more likely to have type 2 diabetes. Diabetes is more popular in African American, Hispanic / Latino, American Indian, Asian American citizens.</p>
                             <div class="image-holder">
                             <img src="https://www.niddk.nih.gov/-/media/Images/Health-Information/Diabetes/man_smiling_330x415.jpg?la=en&hash=5AAC9CF1535306F11F548FFE24476061" alt="">
                             </div>
                             <p><strong>Sysptoms of diabetes</strong></p>

                            <p>Type 2 diabetes symptoms are severe and usually occur quickly, within a few days to weeks. Might contain signs</p>
                            <ul class="content-list">
                              <li> Overweight and obesity</li>
                               <li>Physically inactive </li>
                                <li> Increase in hunger </li>
                                 <li> Early fatigue </li>
                              </ul>
                            <p><strong>What are the cause of type 2 diabetes?</strong></p>
                            <p>Experts agree that type 2 diabetes is triggered by the genes and external causes that may activate the condition, such as viruses. Researchers are working through studies such as TrialNet External Link, to identify the causes of type 2 diabetes.</p>
                            <p><strong>What medicinal products do I need to treat my type 1 diabetes?</strong></p>
                        <p>Managing your blood glucose, cholesterol and blood pressure, and avoiding smoking while you eat, are effective strategies to treat your type 2 diabetes. Changes of behaviour that involve preparing nutritious meals, reducing calories while you are overweight and becoming actively involved are all part of your diabetes treatment. And it can not require some prescription medication. Act alongside the health care provider to develop a program to treat diabetes that works for you. </p>

                </ul>
                    </li>
                  <li><strong>Gestational diabetes</strong>
                        <ul class="sub-content-list">
                            <p>In some women, gestational diabetes develops when they become pregnant. Most of the time when the infant is born this form of diabetes goes down. However, if you have gestational diabetes you are more likely to have type 2 diabetes later in life. Diabetes detected at periods of breastfeeding is in general type 2 diabetes.</p>
                        </ul>
                    </li>
                </ul>
                </div>
                   <p> <strong>How is it that diabetes is common?</strong>  </p>
                   <p> As of 2015, there were 30.3 million individuals diagnosed with diabetes in the United States, or 9.4 per cent of the population. More than one in four of them did not realize they had the disease. Diabetes impacts 1 in 4 people over 65 years of age. Type 2 diabetes affects around 90-95 percent in adult cases.1</p>

                <div class="image-holder">
                    <img src="https://www.heritageseniorcommunities.com/wp-content/uploads/2018/05/July-Heat-and-Humidity.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="footersection" id="footerdiv">

  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6 col-12 footer-div">
        <div>
          <h3>ABOUT SHREE AI-WEB </h3>
          <p> Namaste. Welcome to Shree AI-Web's Diabetes Prediction Web Application. We build all kinds of web application having AI in it. We build normal recommendation system to complex AI model which can predict the required things. Fee free to contact us at anytime. </p>
        </div>
      </div>

        <div class="col-lg-4 col-md-6 col-12 footer-div text-center">
        <div>
          <h3>NAVIGATION LINKS </h3>
          <li> <a href="/symptom">DIABETES AND SYMPTOM</a> </li>
            <li> <a href="/Diet">DIABETES DIET</a></li>
              <li> <a href="/checkdiabetes">DIABETES TESTER</a></li>
        </div>
      </div>

        <div class="col-lg-4 col-md-12 col-12 footer-div">
        <div>
          <h3> HERALD DIABETES DETECTION </h3>
          <p> Diabetes is the serious issue through out the world. Due this reason, we have build a web-app which has AI integrated system. This web-app will be helpful to everyone who wants to know the things related too diabetes and check their dibetes status for free of cost. To check the diabetes, user just have to provide the required report to fit in the model for detection. ALL THE BEST.  </p>
        </div>
      </div>
        </div>
      <div class="mt-5 text-center">
        <p>Copyright ©2020 All rights reserved to Shree AI-Web Application</p>
      </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>